@model List<DBSelectOutClass>;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table id="userData" style="width:100%; text-align:center;">
        <thead>
            <tr>
                <th>編號</th>
                <th>中文名稱</th>
                <th>英文名稱</th>
                <th>簡稱</th>
                <th>使用者信箱</th>
                <th>是否停用</th>
                <th>停用原因</th>
                <th>登入帳號</th>
                <th>登入密碼</th>
                <th>備註</th>
                <th>新增日期</th>
                <th>新增人員代碼</th>
                <th>修改日期</th>
                <th>修改人員代碼</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.sID</td>
                    <td>@row.cName</td>
                    <td>@row.eName</td>
                    <td>@row.sName</td>
                    <td>@row.eMail</td>
                    <td>@row.status</td>
                    <td>@row.stop</td>
                    <td>@row.stopMemo</td>
                    <td>@row.loginID</td>
                    <td>@row.loginPWD</td>
                    <td>@row.memo</td>
                    <td>@row.nowDateTime</td>
                    <td>@row.nowID</td>
                    <td>@row.updDateTime</td>
                    <td>@row.updID</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="text-center">
    <div class="formdiv">
        <h3>查詢</h3>
        <form action="">
            <div class="form-group">
                <label>姓名：</label>
                <input name="name" />
            </div>
            <div class="from-group">
                <br />
                <button type="button" id="select" name="stn">送出</button>
            </div>
        </form>
    </div>
    <br />
    <div class="formdiv">
        <h3>新增</h3>
        <form action="">
            <div class="form-group">
                <label>中文名稱：</label>
                <input name="cName"/>                
            </div>
            <div class="form-group">
                <label>英文名稱：</label>
                <input name="eName" />
            </div>
            <div class="form-group">
                <label>簡稱：</label>
                <input name="sName" />
            </div>
            <div class="form-group">
                <label>信箱：</label>
                <input name="eMail" />
            </div>
            <div class="form-group">
                <label>登入帳號：</label>
                <input name="loginID" />
            </div>
            <div class="form-group">
                <label>登入密碼：</label>
                <input name="loginPWD" />
            </div>
            <div class="form-group">
                <label>建立者的中文名稱：</label>
                <input name="createrName" />
            </div>
            <div class="from-group">
                <br />
                <button type="button" id="insert" name="stn" >送出</button>
            </div>
        </form>
    </div>
    <br />

    <div class="formdiv">
        <h3>修改</h3>
        <form action="">
            <div class="form-group">
                <label>舊姓名：</label>
                <input name="oldName" />
            </div>
            <div class="form-group">
                <label>新姓名：</label>
                <input name="newName" />
            </div>
            <div class="from-group">
                <br />
                <button type="button" id="update" name="stn" >送出</button>
            </div>
        </form>
    </div>
    <br />

    <div class="formdiv">
        <h3>刪除</h3>
        <form action="">
            <div class="form-group">
                <label>姓名：</label>
                <input name="name" />
            </div>
            <div class="from-group">
                <br />
                <button type="button" id="delete" name="stn" >送出</button>
            </div>
        </form>
    </div>
    
</div>

<div>
    <table style="width:50%; text-align:center;" id="selectTable">
        <thead>
            <tr>
                <th>姓名</th>
                <th>電話</th>
                <th>地址</th>
                <th>性別</th>
            </tr>
        </thead>
        <tbody>           
            <tr>
                <td><input id="selectName" /></td>
                <td><input id="selectPhone" /></td>
                <td><input id="selectAddress" /></td>
                <td><input id="selectSex" /></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        fetch('/home/index')   
        .then(response => response.json())
        .then(result => {
          const table = document.getElementById('userData');

          result.data.forEach(user => {
            let row = document.createElement('tr');

            let nameCell = document.createElement('td');
            nameCell.textContent = user.name;

            let ageCell = document.createElement('td');
            ageCell.textContent = user.age;

            row.appendChild(nameCell);
            row.appendChild(ageCell);
            table.appendChild(row);
          });
        });

        $(function(){
            $("#select").on("click", function(){
                var $form = $(this).closest('form');
                console.log("執行select");
                var dataValue = {
                    name : $form.find("input[name='name']").val(),
                    phone : "",
                    address : "",
                    sex : 0,
                    oldName : "",
                    newName : ""
                };

                console.log("蒐集到的資料:", dataValue);
                $.ajax({
                    type:"post",
                    url:"/API/ApiSelect",
                    data:JSON.stringify(dataValue),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",

                    success: function(result){                        
                        alert("查詢成功");

                        $.each(result.Order, function(index, item) {
                            $("#selectName").val(item.name);
                            $("#selectPhone").val(item.phone);
                            $("#selectAddress").val(item.address);
                            $("#selectSex").val(item.sex);
                        });
                    },

                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                        alert("查詢失敗");
                    }
                });
            });

            $("#insert").on("click", function(){
                var $form = $(this).closest('form');

                var dataValue = {
                    name : $form.find("input[name='name']").val(),
                    phone : $form.find("input[name='phone']").val(),
                    address : $form.find("input[name='address']").val(),
                    sex : $form.find("input[name='sex']").val(),
                    oldName : "",
                    newName : ""
                };

                console.log("蒐集到的資料:", dataValue);
                $.ajax({
                    type:"post",
                    url:"/API/ApiInsert",
                    data:JSON.stringify(dataValue),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",

                    success: function(result){
                        console.log("success:", result);
                        alert("新增成功");
                    },

                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                        alert("新增失敗");
                    }
                });
            });

            $("#update").on("click", function(){
                var $form = $(this).closest('form');
                console.log("執行update");
                var dataValue = {
                    oldName : $form.find("input[name='oldName']").val(),
                    newName : $form.find("input[name='newName']").val(),
                    name : "",
                    phone : "",
                    address : "",
                    sex : 0
                };

                console.log("蒐集到的資料:", dataValue);
                $.ajax({
                    type:"put",
                    url:"/API/ApiUpdate",
                    data:JSON.stringify(dataValue),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",

                    success: function(result){
                        console.log("success:", result);
                        alert("修改成功");
                    },

                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                        alert("修改失敗");
                    }
                });
            });

            $("#delete").on("click", function(){
                var $form = $(this).closest('form');
                console.log("執行delete");
                var dataValue = {
                    name : $form.find("input[name='name']").val(),
                    phone : "",
                    address : "",
                    sex : 0,
                    oldName : "",
                    newName : ""
                };

                console.log("蒐集到的資料:", dataValue);
                $.ajax({
                    type:"delete",
                    url:"/API/ApiDelete",
                    data:JSON.stringify(dataValue),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",

                    success: function(result){
                        console.log("success:", result);
                        alert("刪除成功");
                    },

                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                        alert("刪除失敗");
                    }
                });
            });            
        });
    </script>
}
